VBox, HBox, GridPane, AnchorPane, StackPane {
    -fx-background-color: #222022;
    -fx-base: #A0959E;
    -fx-fill-width: true;
    -fx-fill-height: true;
}

JFXListView {
    -fx-text-fill: #6B5868;
    -fx-background-color: #222022;
}

Label {
    -fx-text-fill: #ffffff;
}

JFXCheckbox {
    -fx-padding: 5 0 0 0;
}

InstrumentCell{
    -fx-background-color: #222022;
}

.fx-dialog{
    -fx-background-color: #222022;
    -fx-base: #A0959E;
}

.button-box {
    -fx-spacing: 20;
    -fx-padding: 20 20 20 20;
}

.small-button {
    -fx-background-color: #462E48;
}

.menu-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #462E48;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-font-size: 20;
    -fx-content-display: left;
    -fx-text-alignment: right;
    -fx-padding: 10 10 10 10;
}

.song-pane {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 2;
}

.bpm-label {
    -fx-font: 18 arial;
    -fx-label-padding: 2 5 0 0;
}

.song-list {
    -fx-padding: 0 0 20 0;
}