VBox {
    -fx-background-color: #222022;
    -fx-base: #A0959E;
}

GridPane {
    -fx-background-color: #222022;
    -fx-base: #A0959E;
}

JFXListView {
    -fx-text-fill: #6B5868;
    -fx-background-color: #353030;
}

.button-box{
    -fx-spacing: 20;
    -fx-padding: 20 20 20 20;
}

.small-button {
    -fx-background-color: #38344C;
}

.menu-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #462E48;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-font-size: 20;
    -fx-content-display: left;
    -fx-text-alignment: right;
    -fx-padding: 10 10 10 10;
}

.song-pane {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 2;
}

Hbox {
    -fx-fill-width: true;
}
